:root{
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
}
.kcs-d-block{
  display: block;
}
.kcs-d-flex{
  display: flex;
}
.kcs-text-align-center{
  text-align: center;
}
.kcs-button{
  cursor: pointer;
}
.kcs-back-btn{
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 16px 0;
  margin-right: 10px;
  &:focus{
    outline: none;
  }
}
.kcs-button span{
  display: inline-block;
  padding: 4px 0;
}
.kcs-add-slider-btn-wrap-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    margin-top: 0;
    margin-bottom: 5px;
  }
}
.kcs-sliders-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  .kcs-slider-items{
    position: relative;
    .kcs-slider-inner{
      height: 200px;
      background-color: #0c88b4;
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .kcs-title{
        position: relative;
        display: block;
        color: #ffffff;
      }
      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
      }
      .kcs-delete-btn{
        position: absolute;
        top: 0;
        right: 0;
        background: #252525;
        text-decoration: none;
        padding: 10px;
        z-index: 10;
        span{
          color: #ea2424;
        }
      }
    }
  }
}
.kcs-row,
.kcs-slide-items-wrap{
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(0rem *-1);
  margin-right: calc(1.5rem * -.2);
  margin-left: calc(1.5rem * -.2);
  width: 100%;
  .slide-item{
    flex: 0 0 auto;
    width: 10%;
    padding-right: calc(1.5rem * .2);
    padding-left: calc(1.5rem * .2);
    margin-bottom: 10px;
    @media (max-width: 1600px){
      width: 19.2%;
    }
    @media (max-width: 1400px){
      width: 23.99%;
    }
    @media (max-width: 1158px){
      width: 32.3%;
    }
  }
  .slide-item-wrap{
    background-color: #0d66c2;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .slide-item-holder{
      position: relative;
      span{
        display: block;
        color: #ffffff;
        text-align: center;
        &.kcs-sub-title{
          font-size: 8px;
          line-height: 5px;
        }
        &.kcs-title{
          font-size: 10px;
        }
        &.kcs-btn{
          font-size: 8px;
          background: #0d66c2;
          border-radius: 3px;
        }
      }
    }
    .kcs-delete-btn{
      position: absolute;
      top: 0;
      right: 0;
      background: #252525;
      text-decoration: none;
      padding: 10px;
      z-index: 20;
      span{
        color: #ea2424;
      }
    }
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
    }
  }
}

.kcs-go-slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.kcs-slide-items-wrap{
  .kcs-create-slide-btn{
    .kcs-create-slide-btn-wrap{
      justify-content: center;
      align-items: center;
      background-color: #d9d9d9;
      width: 100%;
      height: 200px;
      color: #666666;
      cursor: pointer;
    }
  }
}

.kcs-form-modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
  display: none;
  //display: table;
  .modal-container{
    display: table-cell;
    vertical-align: middle;
    .modal-content-holder{
      //min-height: 280px;
      width: 100%;
      max-width: 600px;
      background-color: #2f2f2f;
      margin: 0 auto;
      padding: 20px;
    }
  }
}
.kcs-modal-form{
  margin-right: -0.5rem;
  .form-control{
    margin-bottom: 20px;
    input{
      width: 100%;
      background: transparent;
      color: #ffffff;
      height: 40px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  .kcs-row{
    width: 100%;
    .kcs-col{
      flex: 1 0 0%;
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
      padding-right: calc(1.5rem * .2);
      padding-left: calc(1.5rem * .2);
    }
    .kcs-right-col{
      flex: 0 0 auto;
      width: 30%;
      .kcs-add-slide-image-holder{
        height: 100%;
        .kcs-add-image-btn{
          border: 1px dotted #ffffff;
          height: 100%;
          max-height: 240px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          color: #8f8f8f;
          position: relative;
          img{
            position: absolute;
          }
        }
      }
    }
  }
  .kcs-button-wrap{
    padding-right: 8px;
    margin-top: 20px;
    position: relative;
    .kcs-modal-form-button{
      width: 100%;
      height: 40px;
    }
    .btn-close{
      text-decoration: none;
      position: absolute;
      right: 8px;
      top: 0;
      background: #4c4c4c;
      width: 30px;
      border-radius: 0 3px 3px 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      z-index: 10;
      &:hover{
        background: #d90000;
      }
    }
  }
}
.kcs-save-slider-btn-wrap{
  display: block;
  margin-top: 10px;
}

.kcs-form-modal.kcs-main-page-modal{
  .modal-content-holder{
    max-width: 500px;
  }
  .form-control{
    padding-right: 10px;
  }
}

.kcs-err-msg{
  margin-bottom: 3px;
  color: #ff1717;
  display: block;
}

